* {
    font-family: "JetBrainsMono Nerd Font", "Noto Sans CJK", monospace;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
    color: #fff;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    margin: 0 4px;
    padding: 0 4px;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0);
}

#workspaces button {
    margin: 0 2px;
    padding: 2px 6px;
    font-size: 16px;
    font-weight: normal;

    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    transition: background 0.2s ease;
}

#workspaces button.active {
    background: rgba(255, 255, 255, 0.7);
    color: #000;
    border-color: rgba(255, 255, 255, 0.8);
}

#workspaces button.urgent {
    border: 1px dashed rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

#clock,
#battery,
#cpu,
#memory,
#network,
#pulseaudio,
#tray,
#backlight,
#custom-power {
    background: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 0 8px;
    margin: 0 4px;
    border-radius: 5px;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
